*{
	box-sizing: border-box;
	font-family: sans-serif, Arial, Helvetica;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: rgb(246, 246, 246);
}

header{
	background-color: rgb(244, 135, 19);
	height: 3em;
	color: #FFF;
	box-shadow: 0 0 5px 1px #000;
	margin-bottom: 1em;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	font-size: 1.2em;
	cursor: pointer;
	margin-top: -3px;
	color: #fff;
	background-color:#F48713;
	width: 20%;
    display: block;
    margin: 10px 0px;
	border-radius: 5px;
}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: rgb(128, 128, 128);
	border-color: rgb(169, 169, 169);

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid rgb(210, 25, 25);
}

.paciente-invalido{
	background-color: rgb(221, 50, 50);
}

#mensagens-erro{
	color: rgb(225, 40, 40);
}

.fadeOut{
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela{
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.invisivel{
	display: none;
}
